.accordion {
  &__trigger {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3rem;
    text-align: left;
    background-color: $color-brand-primary;
    color: $color-white;
    border: none;
    outline: none;
    transition: 0.2s ease-out;
    transition-property: background-color, color;
    &.active {
      background-color: $color-white;
      color: $color-brand-primary;
      .accordion__ic {
        transform: rotate(180deg);
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  &__content {
    padding: 3rem;
  }
  &__ic {
    width: 1.2rem;
    transition: transform 0.2s ease-out;
    transform-origin: center center;
  }
  @include portrait {
    margin-top: 3rem;
  }
}
