.btn {
  height: 5.6rem;
  padding: 0 2.5rem;
  font-family: $heading-font;
  font-weight: 700;
  background-color: $color-brand_primary;
  color: $color-white;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8rem;
  border: 2px solid $color-brand-primary;
  border-radius: 4px;
  transition: 0.35s ease-in-out;
  transition-property: background-color, border-color;
  @include portrait {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  @include mobile {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  &:hover {
    background-color: $color-secondary;
    border: 2px solid $color-secondary;
    cursor: pointer;
  }
  &--ghost {
    border: 2px solid $color-brand-primary;
    background-color: transparent;
    color: $color-brand-primary;
    &:hover {
      background-color: $color-brand-primary;
      border-color: $color-brand-primary;
      color: $color-white;
    }
  }
  &--invert {
    background-color: $color-white;
    color: $color-brand-primary;
    border: 2px solid $color-white;
    &:hover {
      background-color: $color-dimmed;
      border-color: $color-dimmed;
    }
  }
  &--icon {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
    &:hover {
      .btn--icon__dot {
        &::before {
          opacity: 1;
        }
      }
    }
    &__box {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 5.6rem;
      margin-left: 2rem;
      border-left: 1px solid $color-dimmed;
    }
    &__dot {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.7rem;
      height: 2.7rem;
      position: relative;
      border-radius: 100%;
      border: 2px solid $color-white;
      &::before {
        content: "";
        width: 1.6rem;
        height: 1.6rem;
        background-color: $color-white;
        border-radius: 100%;
        opacity: 0;
        transition: opacity 0.35s ease-in-out;
        // position: absolute;
        // left: 50%;
        // top: 50%;
      }
    }
  }
}
