.burger {
  width: 3rem;
  height: 1.5rem;
  display: none;
  position: relative;
  z-index: $over-all;
  background-color: transparent;
  border: none;
  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $color-dark;
    transition: transform 0.2s ease-in-out;
  }
  &::after {
    top: unset;
    bottom: 0;
  }
  &:focus {
    outline: none;
  }
  @include portrait {
    display: block;
  }
  &.open {
    &::before {
      transform: rotate(25deg) translate(3px, 7px);
    }
    &::after {
      transform: rotate(-25deg) translate(2px, -4px);
    }
  }
}
