.burger {
  width: 3rem;
  height: 1.5rem;
  display: none;
  position: relative;
  z-index: $over-all;
  background-color: transparent;
  border: none;
  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $color-dark;
  }
  &::after {
    top: unset;
    bottom: 0;
  }
  &:focus {
    outline: none;
  }
  @include portrait {
    display: block;
  }
}
