.footer {
  position: sticky;
  bottom: 0;
  z-index: $below-content;
  background-color: $color-light;
  @include phablet {
    position: relative;
    bottom: unset;
  }
  &__wrapper {
    @include wrapper;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    @include portrait {
      flex-direction: column;
    }
  }
  &__top {
    padding: 4.5rem 0 2rem;
    border-bottom: 1px solid $color-dark-opacity;
  }
  &__middle {
    padding: 6.2rem 0 9rem;
    @include portrait {
      padding: 3rem 0;
    }
  }
  &__bottom {
    padding: 7rem 0;
    .footer__col {
      &:nth-of-type(2) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include portrait {
          justify-content: flex-start;
        }
      }
    }
    .link {
      font-size: 1.4rem;
    }
    @include portrait {
      padding: 0 0 4rem 0;
    }
  }
  &__bottom-img {
    width: 12rem;
    margin-left: 1.2rem;
  }
  &__col {
    width: 50%;
    @include portrait {
      width: 100%;
    }
  }
  &__col-text {
    max-width: 43rem;
    width: 100%;
  }
  &__col-inner {
    &:nth-of-type(2) {
      margin-left: 7rem;
      @include phablet {
        margin-left: 0;
        margin-top: 4rem;
      }
    }
  }
  &__logo-mark {
    width: 5.6rem;
  }
  &__cta,
  &__recomends,
  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include phablet {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 1.2rem;
    }
  }
  &__recomends-logo {
    width: 14rem;
  }
  &__recomends-stars {
    width: 10rem;
  }
  &__recomends-copy {
    margin: 0 1.2rem;
    @include phablet {
      margin: 1.2rem 0;
    }
  }
  &__social-icon {
    width: 3.2rem;
    margin-left: 1.6rem;
    @include phablet {
      margin: 1.2rem 0 0;
    }
  }
  &__nav {
    margin-top: 6.5rem;
    @include portrait {
      margin: 4rem 0;
    }
  }
  &__nav-list {
    display: flex;
    flex-wrap: wrap;
  }
  &__nav-list-el {
    margin-right: 3rem;
    font-weight: 700;
    a {
      transition: color 0.3s ease-in-out;
      &:hover {
        color: $color-brand-primary;
      }
    }
  }
  &__lists {
    display: flex;
    .text-title {
      color: $color-brand-primary;
    }
    @include phablet {
      flex-direction: column;
    }
  }
}
