.footer {
  background-color: $color-light;
  &__wrapper {
    @include wrapper;
  }
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__top {
    padding: 4rem 0 3.2rem;
    border-bottom: 1px solid $color-dark-opacity;
  }
  &__middle {
    padding: 6.5rem 0 9rem;
  }
  &__bottom {
    padding: 4rem 0;
    .footer__col {
      &:nth-of-type(2) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
  &__bottom-img {
    width: 12rem;
    margin-left: 1.2rem;
  }
  &__col {
    width: 50%;
  }
  &__logo-mark {
    width: 5.6rem;
  }
  &__lists {
    display: flex;
    .text-title {
      color: $color-brand-primary;
    }
  }
  &__cta,
  &__recomends,
  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__recomends-logo {
    width: 14rem;
  }
  &__recomends-stars {
    width: 10rem;
  }
  &__recomends-copy {
    margin: 0 1.2rem;
  }
  &__social-icon {
    width: 3.2rem;
    margin-left: 1.6rem;
  }
  .nav {
    margin-top: 7.8rem;
    &__list-el {
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}
