.footer {
  margin-top: 11rem;
  background-color: $color-light;
  &__wrapper {
    @include wrapper;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    @include portrait {
      flex-direction: column;
    }
  }
  &__top {
    padding: 4rem 0 3.2rem;
    border-bottom: 1px solid $color-dark-opacity;
  }
  &__middle {
    padding: 6.5rem 0 9rem;
    @include portrait {
      padding: 3rem 0;
    }
  }
  &__bottom {
    padding: 4rem 0;
    .footer__col {
      &:nth-of-type(2) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include portrait {
          justify-content: flex-start;
        }
      }
    }
    @include portrait {
      padding: 0 0 4rem 0;
    }
  }
  &__bottom-img {
    width: 12rem;
    margin-left: 1.2rem;
  }
  &__col {
    width: 50%;
    @include portrait {
      width: 100%;
    }
  }
  &__logo-mark {
    width: 5.6rem;
  }
  &__lists {
    display: flex;
    .text-title {
      color: $color-brand-primary;
    }
    @include phablet {
      flex-direction: column;
    }
  }
  &__cta,
  &__recomends,
  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include phablet {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 1.2rem;
    }
  }
  &__recomends-logo {
    width: 14rem;
  }
  &__recomends-stars {
    width: 10rem;
  }
  &__recomends-copy {
    margin: 0 1.2rem;
    @include phablet {
      margin: 1.2rem 0;
    }
  }
  &__social-icon {
    width: 3.2rem;
    margin-left: 1.6rem;
    @include phablet {
      margin: 1.2rem 0 0;
    }
  }
  .nav {
    margin-top: 7.8rem;
    &__list {
      flex-wrap: wrap;
    }
    &__list-el {
      &:first-of-type {
        margin-left: 0;
      }
    }
    @include portrait {
      margin: 4rem 0;
      height: auto;
      width: auto;
      position: relative;
      top: unset;
      left: unset;
    }
  }
}
