.header {
  width: 100%;
  position: fixed;
  z-index: $header;
  background-color: $color-white;
  &__wrapper {
    @include wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 3.8rem;
    padding-bottom: 3.8rem;
    @include portrait {
      flex-direction: column;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  &__logo {
    display: flex;
    width: 30rem;
    position: relative;
    z-index: $over-all;
    @include portrait {
      width: 15rem;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .btn {
    padding: 1rem;
  }
}
