.header {
  background-color: $color-white;
  &__wrapper {
    @include wrapper;
    max-width: 124rem;
    padding-top: 2.3rem;
    padding-bottom: 1.3rem;
  }
  @include tablet {
    text-align: center;
  }
  img {
    width: 16rem;
  }
}
