.illustration-hero {
  position: relative;
  right: -6rem;
  @include portrait {
    right: 0;
  }
  &__desc {
    @include portrait {
      display: none;
    }
  }
  svg {
    @include portrait {
      display: none;
    }
  }
  &__inner {
    width: 20rem;
    position: absolute;
    right: 0;
    bottom: -2rem;
    z-index: $over-content;
    @include portrait {
      display: none;
      margin: 0 0 0 auto;
      position: relative;
      bottom: 0;
    }
    @include phablet {
      width: 100%;
      margin: 3rem 0 0 0;
    }
  }
}
