.illustration-profit {
  display: flex;
  align-items: center;
  max-width: 143rem;
  width: 100%;
  height: 84rem;
  margin: 0 auto;
  background-image: url("../img/illustrations/illustration-profit.svg");
  background-repeat: no-repeat;
  background-size: contain;
  @include portrait {
    max-width: 50rem;
    height: 40rem;
  }
  @include phablet {
    max-width: 28rem;
  }
}
