.illustration-faq {
  width: 112%;
  height: 42rem;
  position: relative;
  left: -16.7rem;
  top: 2.4rem;
  background-image: url("../img/illustrations/illustration-faq.png");
  background-repeat: no-repeat;
  background-size: contain;
  @include portrait {
    height: 30rem;
    left: -3rem;
  }
  @include phablet {
    height: 20rem;
  }
}
