.link {
  position: relative;
  color: $color-brand-primary;
  font-size: 1.8rem;
  line-height: 3.6rem;
  overflow: hidden;
  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: $color-dark-opacity;
  }
  &::after {
    // height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    background-color: $color-brand-primary;
    transition: transform 0.35s ease-in;
    will-change: transform;
  }
}
