.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  &__list {
    display: flex;
    @include portrait {
      flex-direction: column;
    }
  }
  &__list-el {
    margin-left: 2.4rem;
    @include portrait {
      margin-left: 0;
      margin-top: 2rem;
      font-size: 2.5rem;
      line-height: 3rem;
    }
    &:first-of-type {
      margin-left: 4.8rem;
      @include portrait {
        margin-left: 0;
        margin-top: 0;
      }
    }
  }
  @include portrait {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: $over-all;
    background-color: $color-white;
    transition: transform 0.35s ease-in;
    &.is-visible {
      transform: translateX(-100%);
    }
  }
  .btn {
    @include portrait {
      margin-top: 3rem;
    }
  }
}
