.slider {
  margin-top: 5.5rem;
  &__slide {
    padding: 4rem;
    background: $color-white;
  }
  .swiper-container {
    width: 140rem;
    overflow: visible;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -5.6rem;
  }
}
