* {
  box-sizing: border-box;
}
html {
  font-size: vw(10);
  @include tablet {
    font-size: 10px;
  }
}
body {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
  @include mobile-lg {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
a {
  text-decoration: none;
}
