//colors
$color-dark: #0e0e0e;
$color-dimmed: #ededed;
$color-white: #ffffff;
$color-brand_primary: #4432ff;
$color-brand_secondary: #14caff;
$color-secondary: #4a4764;
$color-light: #f4f7f9;

//layout sizes
$wrapper-width: 120rem;
$wrapper-padding: 3rem;
$vw-base: 1680;

//typography
$base-font: "Comfortaa", cursive;
$heading-font: "all-round-gothic";
$base-font-weight: 400;
$base-font-size: 1.6rem;
$base-line-height: 2.8rem;

//z-index
$over-all: 99999999;
$over-content: 100;
$below-content: -100;

//bp
$screen-mobile-sm: 320px;
$screen-mobile: 376px;
$screen-mobile-lg: 480px;
$screen-phablet: 576px;
$screen-portrait: 768px;
$screen-portrait-lg: 992px;
$screen-tablet: 1024px;
$screen-laptop-sm: 1200px;
