@font-face {
  font-family: "all-round-gothic";
  src: url("https://use.typekit.net/af/149b17/00000000000000003b9b376a/27/l?primer=bd2e7279b8e28728e69eb540b5150ce43e5cd0a473612664c65ebd5f9cd4ea9d&fvd=n6&v=3") format("woff2"), url("https://use.typekit.net/af/149b17/00000000000000003b9b376a/27/d?primer=bd2e7279b8e28728e69eb540b5150ce43e5cd0a473612664c65ebd5f9cd4ea9d&fvd=n6&v=3") format("woff"), url("https://use.typekit.net/af/149b17/00000000000000003b9b376a/27/a?primer=bd2e7279b8e28728e69eb540b5150ce43e5cd0a473612664c65ebd5f9cd4ea9d&fvd=n6&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "all-round-gothic";
  src: url("https://use.typekit.net/af/6454e6/00000000000000003b9b376c/27/l?primer=bd2e7279b8e28728e69eb540b5150ce43e5cd0a473612664c65ebd5f9cd4ea9d&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/6454e6/00000000000000003b9b376c/27/d?primer=bd2e7279b8e28728e69eb540b5150ce43e5cd0a473612664c65ebd5f9cd4ea9d&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/6454e6/00000000000000003b9b376c/27/a?primer=bd2e7279b8e28728e69eb540b5150ce43e5cd0a473612664c65ebd5f9cd4ea9d&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
