.section--profit {
  padding: 8rem 0;
  background-image: url("../img/illustrations/illustration-segment.svg");
  background-repeat: no-repeat;
  background-size: 44rem 44rem;
  background-position: center 64%;
  @include phablet {
    padding: 5rem 0;
    background-size: 30rem 30rem;
  }
}
