.section {
  width: 100%;
  position: relative;
  background-color: $color-white;
  &__wrapper {
    @include wrapper;
    display: flex;
    flex-wrap: wrap;
    @include phablet {
      flex-direction: column;
    }
  }
  &__col {
    width: 50%;
    position: relative;
    @include phablet {
      width: 100%;
    }
  }
  &--profit,
  &--opinions {
    text-align: center;
  }
}
