.section {
  width: 100%;
  position: relative;
  overflow: hidden;
  &__wrapper {
    @include wrapper;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  &__col {
    width: 50%;
    position: relative;
  }
  &--profit,
  &--opinions {
    text-align: center;
  }
}
