.section--profit {
  padding: 8rem 0;
  background-image: url("../img/illustrations/illustration-segment.svg");
  background-repeat: no-repeat;
  background-size: 44rem 44rem;
  background-position: center 70%;
  @include phablet {
    padding-top: 18rem;
  }
  .section__wrapper {
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
