.section--cta {
  padding-bottom: 11rem;
  color: $color-white;
  @include phablet {
    padding-bottom: 0;
  }
  .section__wrapper {
    overflow: hidden;
    @include phablet {
      background-color: $color-brand-primary;
    }
  }
  .section__col {
    background-color: $color-brand-primary;
    &:nth-of-type(1) {
      padding: 8rem 0 8rem 8rem;
      border-top-left-radius: 1.6rem;
      border-bottom-left-radius: 1.6rem;
      @include portrait {
        padding: 3rem;
      }
      @include phablet {
        padding: 3rem 0;
      }
    }
    &:nth-of-type(2) {
      border-top-right-radius: 1.6rem;
      border-bottom-right-radius: 1.6rem;
      @include portrait {
        padding: 0 3rem 3rem 0;
      }
      @include phablet {
        padding: 0 0 4rem 0;
      }
    }
  }
  .swiper-container {
    max-height: 37rem;
    padding: 0 0 0 12rem;
    @include portrait {
      padding: 0 0 3rem 0;
    }
  }
  .btn {
    margin-top: 3.2rem;
  }
}
