.section {
  width: 100%;
  position: relative;
  &__wrapper {
    @include wrapper;
    display: flex;
    flex-wrap: wrap;
    // padding-top: 5rem;
    // padding-bottom: 5rem;
    @include phablet {
      flex-direction: column;
    }
  }
  // &__wrapper-inner {
  //   border-radius: 1.6rem;
  // }
  &__col {
    width: 50%;
    position: relative;
    @include phablet {
      width: 100%;
    }
  }
  &--profit,
  &--opinions {
    text-align: center;
  }
}
