.section--intro {
  padding-top: 24.5rem;
  @include portrait {
    padding-top: 12rem;
  }
  .text-normal {
    max-width: 44rem;
    width: 100%;
    margin-top: 1.6rem;
  }
  .btn {
    margin-top: 5.2rem;
  }
}
